/* Bordas */
table, th, td, tr{ 
border: 1px solid black;
border-collapse: collapse;
}

/* Feriados */
#feriado {
    color: red

}

/*espaçamento dos quadrados da tabela*/
td{
    width: 30px;
    height: 20px;
    text-align: center;
}